<link rel = "stylesheet" type = "text/css" href = "/css/main/header.css">
<link rel = "stylesheet" href = "/css/main/font.css">
<script src = "/js/main/header.js" defer> </script>

<div class = "header">
    <div class = "header-box">
        <div class = "logo" id = "logo">
            <a href="/" class="link-unstyled">
                <h1 class = "kaia">Kaia</h1>
                <h6 class = "apparel">APPARE<span class = last-letter>L</span></h6>
            </a>
        </div>        
        <div class = "header-buttons"> 
            <div class="search-box">
                <input type="text" id="search-item" placeholder="Search your style">
                <button id="search-icon" type = "button" class = "header" data-popup = "search">
                    <span class = "icon search"> </span>
                </button>
            </div>
            <button type = "button" class = "header" id = "wishlist-button" data-popup = "favourite"> 
                <span class = "icon favourite"> </span>
            </button>
            <button type = "button" class = "header" id = "shopping-cart-button" data-popup = "cart"> 
                <span class = "icon cart"> </span>
            </button>
            <button type = "button" class = "header" data-popup = "profile"> 
                <span class = "icon profile"> </span>
            </button>
        </div>
    </div>
    <div class = "popup search-popup">
        <span> Search </span>
    </div>
    <div class = "popup favourite-popup">
        <span> Wishlist </span>
    </div>
    <div class = "popup cart-popup">
        <span> Cart </span>
    </div>
    <div class = "popup profile-popup">
        <button type = "button"> 
            Profile
        </button>
        <button type = "button"> 
            Order History
        </button>
        <button type = "button" id = "logout-button"> 
            Logout
        </button>
    </div>
</div>