:root {
    --new-arrivals: url("/images/kaia/iris_linen_top_1.jpg");
    --dresses: url("/images/kaia/sky_linen_dress_1.jpg");
    --bottoms: url("/images/kaia/june_top_4.jpg");
    --tops: url("/images/kaia/lane_top_2.jpg");
    --coords: url("/images/kaia/cara_linen_coordinates_3.jpg");
}

body {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

/***********************************************
                  CONTAINERS                    
***********************************************/
div.main-container {
    padding: 10px;
    max-width: 1150px;
    background-color: #fcfcfc;
    margin-left: auto;
    margin-right: auto;
}

div.outer-container {
    display: block;
    position: relative;
    max-width: 800px;
    height: 300px;
    margin: 0 auto;
}

div.inner-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

div.category-container {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 120px;
    margin: 10px;

    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

/***********************************************
                  CONTAINERS                    
***********************************************/
span.name {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

span.name.new-arrival {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 3em;
}

span.name.category {
    position: relative;
    top: 35px;
    font-size: 2.5em;
}

span.title {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

/***********************************************
                     IMAGES                
***********************************************/
div.outer-container.new-arrivals {
    background-size: cover;
    background-image: var(--new-arrivals);
    background-position: center; 
}

div.category-container.dresses {
    background-image: var(--dresses);
}

div.category-container.bottoms {
    background-image: var(--bottoms);
}

div.category-container.tops {
    background-image: var(--tops);
}

div.category-container.coords {
    background-image: var(--coords);
}