@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
}

div.main-container {
    width: 50%;
    min-width: 600px;
    max-width: 1100px;
    margin: 30px auto;
    padding: 50px;
}

div.switch-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}


div.switch-container-button.login{
    width: 40%;
}

div.switch-container-button.register{
    width: 60%;
}

div.switch-container-button{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    margin: 15px;
}


/* Use for JS */
div.switch-container-button.focus{
    border-bottom: 5px solid #995599;
    color: #995599;
    cursor: pointer;
}


/***********************************************
                  Error Message                    
***********************************************/
div.error-box {
    display: none;
    background-color: red;
    text-align: center;
}


/********************
    LOGIN CONTENT
*********************/
div.input-box{
    width: 100%;
}

.invalid-credentials {
    background-color: red;
    animation: shakeobj 0.5s 10;
}

@keyframes shakeobj {
    0%{transform: translate(1px,1px) rotate(90deg);}
    20%{transform: translate(-3px,-1px) rotate(180deg);}
    40%{transform: translate(-1px,-2px) rotate(270deg);}
    60%{transform: translate(-1px,-2px) rotate(450deg);}
    80%{transform: translate(1px,2px) rotate(630deg);}
    100%{transform: translate(-1px,-2px) rotate(720deg);}
}

div.input-box input{
    width: 100%;
    border: none;
    border-bottom: black 1px solid;
    padding: 20px 0;
    text-indent: 20px;
    font-size: 1em;
    letter-spacing: 3px;
    margin: 10px 0;
}

div.input-box input::placeholder{
    font-size: small;
}

div.input-box input:focus {
    outline: none;
    border-bottom: 2px solid #995599;
    background-color: #bf97bf2d;
}


div.options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 20px;
    padding: 0 10px;
    font-size: small;
    letter-spacing: 3px;
}

.option-items #remember-me{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.option-items label{
    align-items: center;
    vertical-align: middle;
}


div.terms-container {
    font-size: small;
    padding: 10px 20px 20px;
    color: #3E3E3E;
    letter-spacing: 2px;
    font-size: 0.85em;
}

#login-button{
    width: 200px;
    margin-left: 20px;
    padding: 15px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #EF91CF;
    cursor: pointer;
}

#login-button:hover{
    background-color: #995599;
}


/********************
 REGISTER DIFFERENCE
*********************/

.input-box.name{
    display: flex;
}

#register-button{
    float:right;
    width: 300px;
    padding: 15px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #EF91CF;
    cursor: pointer;
    margin-top: 20px;
}

#register-button:hover{
    background-color: #995599;
}