
div.product-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-width: 1150px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.product-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

.product-gallery-large-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0rem;
}

.hide {
    display: none;
}

.hide img {
    max-width: 100%;
}

div.product-image {
    width: 31.6875rem;
    height: 36.8125rem;
    padding: 0.5rem;
}

div.product-image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.previous-image-button, .next-image-button {
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    margin: 5px;
    background-color: #FAFAFA;
    border: 1px solid #E9E9E9;
    background: #F6F6F6;
    width: 2.125rem;
    height: 2.4375rem;
    cursor: pointer;
}

div.product-information-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 2rem 4rem;
    text-transform: uppercase;
}

span.product-name {
    font-family: 'Roboto Condensed-Bold';
    color: #000;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 4.5rem */
    letter-spacing: -0.066rem;
    width: 31.0625rem;
    height: 5.9375rem;
    text-transform: uppercase;
}

span.product-price {
    color: #000;
    font-family: inherit;
    font-size: 2.25rem;
    line-height: 150%; /* 3.375rem */
}

div.product-description {
    color: #000;
    font-family: inherit;
    font-size: 0.9375rem;
    line-height: 137.5%; /* 1.11719rem */
    letter-spacing: -0.01788rem;
    text-transform: none;
}

div.product-description-container > span:first-child {
    color: #000;
    font-family: 'Roboto Condensed-Regular';
    font-size: 1.25rem;
    line-height: 150%; /* 1.875rem */
    letter-spacing: -0.0275rem;
    padding: 0.2rem 0rem;
    text-transform: uppercase;
}

div.product-description-container {
    font-family: 'Roboto Condensed-Light';
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 1rem 0rem;
    text-transform: none;
}

div.product-variation-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.5rem 0rem;
}

div.product-color {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

div.product-color-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

div.product-quantity {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1rem 0rem;
}

div.product-quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

button.quantity-button {
    color: #000;
    font-size: 0.9375rem;
    line-height: 150%; /* 1.40625rem */
    border: 1px solid #E9E9E9;
    background: #F6F6F6;
    letter-spacing: -0.02063rem;
    width: 2.125rem;
    height: 2.4375rem;
    flex-shrink: 0;
    cursor: pointer;
}

div.product-quantity-container span {
    margin-left: 1rem;
    margin-right: 1rem;
}

span.product-spec {
    font-family: 'Roboto Condensed-Regular';
    font-size: 1.25rem;
    font-style: normal;
}

span.product-spec > span:first-child {
    color: #999;
}

button.add-to-cart-button {
    width: 29.5625rem;
    height: 4.375rem;
    flex-shrink: 0;
    background: #EF91CF;
    cursor: pointer;
    border: 0;
}

button.add-to-cart-button span {
    color: #FFF;
    font-family: 'Roboto Condensed-Bold';
    font-size: 1.5rem;
    line-height: 150%; /* 2.25rem */
    letter-spacing: -0.033rem;
    text-transform: uppercase;
}

button.quantity-button {
    background-color: #FAFAFA;
    border: 1px solid #E9E9E9;
    background: #F6F6F6;
    width: 2.125rem;
    height: 2.4375rem;
    flex-shrink: 0;
    cursor: pointer;
}

button.color-button {
    text-align: center;
    font-size: 0.9375rem;
    line-height: 150%; /* 1.40625rem */
    border: 1px solid #E9E9E9;
    letter-spacing: -0.02063rem;
    width: 2.375rem;
    height: 2.375rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

button.color-button.lavender {
    background: #B8A1B0;
}

button.color-button.white {
    background: #E9E9E9;
}

button.color-button.sage-green {
    background: #CBD8A6;
}

button.color-button.black {
    background: #252121;
}

button.color-button.gray {
    background: #565656;
}

.color-button.selected-color {
    border: 4px solid #995594;
}

.product-gallery-small-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 2rem 0rem;
}

.product-gallery-small-image {
    width: 4.1875rem;
    height: 4.875rem;
    flex-shrink: 0;
    padding: 0rem 0.5rem;
}

.product-gallery-small-image.selected-image {
    border: 2px solid #995594;
}