<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/homepage.css">
    <script src = "js/homepage.js" defer> </script>
</head>

<body>
    <%- include("./partials/header.ejs") %>
    <div class = "main-container"> 
        <div class = "outer-container">
            <h1 class = "big-text"> New Arrivals </h1>
        </div>
        <h2> Category </h2>
        <div class = "outer-container">
            <div class = "inner-container">
                <div class = "category-container">
                    <h1> Dresses </h1>
                </div>
                <div class = "category-container">
                    <h1> Tops </h1>
                </div>
            </div>
            <div class = "inner-container">
                <div class = "category-container">
                    <h1> Bottoms </h1>
                </div>
                <div class = "category-container">
                    <h1> Coords </h1>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>