<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Login Page </title>
    <link rel = "stylesheet" href = "/css/login.css">
    <script src = "js/login.js" defer> </script>
</head>

<body>  
    <%- include("./partials/header.ejs") %>

    <div class = "main-container"> 
        <form id = "form-container">
            <div class = "switch-container">
                <div class = "switch-container button"> 
                    Login
                </div>
                <div class = "switch-container button"> 
                    Create Account
                </div>
            </div>
            <div class = "input-container">
                <div class = "input-box">
                    <input type = "email" id = "login-email" name = "login-email" placeholder = "Email" >
                </div>
                <div class = "input-box">
                    <input type = "email" id = "login-email" name = "login-email" placeholder = "Password" >
                </div>
            </div>
            <div class = "options-container">
                Remember Me
                Forgot Password
            </div>
            <div class = "terms-container">
                By logging into my account 
            </div>
            Insert login button
        </div>
    </div>

</body>
</html>