<!DOCTYPE html>
<html lang="en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/homepage.css">
    <link rel="stylesheet" href="/css/product-catalog.css">
    <link rel="stylesheet" href="/css/product.css">
    <script src = "/js/homepage.js" defer> </script>
    <script src = "/js/product.js" defer> </script>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class = "product-container path-container">
        <span>Home / <span class = "path-category">Tops</span> Collection</span>
    </div>
    <div class="product-container">
        <div class="product-gallery-container">
            <div class="product-gallery-large-container">
                <button class="previous-image-button" onclick="plusSlides(-1)">&#10094;</button>
                    <div class="product-image hide fade">
                        <img src="/images/kaia/maya_top_1.jpg">
                    </div>
                    <div class="product-image hide fade">
                        <img src="/images/kaia/maya_top_2.jpg">
                    </div>
                    <div class="product-image hide fade">
                        <img src="/images/kaia/maya_top_4.jpg">
                    </div>
                    <div class="product-image hide fade">
                        <img src="/images/kaia/maya_top_3.jpg">
                    </div>
                <button class="next-image-button" onclick="plusSlides(1)">&#10095;</button>
            </div>
            <div class="product-gallery-small-container">
                <img class="product-gallery-small-image" src="/images/kaia/maya_top_1.jpg">
                <img class="product-gallery-small-image" src="/images/kaia/maya_top_2.jpg">
                <img class="product-gallery-small-image" src="/images/kaia/maya_top_4.jpg">
                <img class="product-gallery-small-image" src="/images/kaia/maya_top_3.jpg">
            </div>
        </div>

        <div class="product-information-container">
            <div>
                <span class="product-name">Maya Top</span>
                <img>
            </div>
            <span class="product-price">PHP 350</span>
            <div class="product-description-container">
                <span class="product-spec">Description</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</span>
            </div>
            <div class="product-variation-container">
                <div class="product-color">
                    <span class="product-spec">Color: <span class="selected-color"></span></span>
                    <div class="product-color-container">
                        <button class="color-button white" onclick="selectColor(this)" value="white"></button>
                        <button class="color-button sage-green" onclick="selectColor(this)" value="sage green"></button>
                        <button class="color-button lavender" onclick="selectColor(this)" value="lavender"></button>
                        <button class="color-button gray" onclick="selectColor(this)" value="gray"></button>
                        <button class="color-button black" onclick="selectColor(this)" value="black"></button>
                    </div>
                </div>
                <div class="product-quantity">
                    <span class="product-spec">Quantity</span>
                    <div class="product-quantity-container">
                        <button class="quantity-button" onclick="plusSlides(-1)">&#10094;</button>
                        <span>1</span>
                        <button class="quantity-button" onclick="plusSlides(1)">&#10095;</button>
                    </div>
                </div>
            </div>
            <button class="add-to-cart-button"><span>Add to Cart</span></button>
        </div>
    </div>

    <div class="customer-reviews-container">
        <div class="customer-reviews-header">
            <span class="customer-reviews-header-text">
                Customer Reviews
                <span class="customer-reviews-header-rating">
                    <i class="rating-star-fill"></i>
                </span>
        </span>
        </div>
    </div>

</body>
</html>
