<!DOCTYPE html>
<html lang="en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/homepage.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/customer-reviews.css">
    <script src = "/js/homepage.js" defer> </script>
    <script src = "/js/product.js" defer> </script>
    <script src = "/js/customer-reviews.js" defer> </script>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class = "product-container path-container">
        <span>Home / <span class = "path-category">Tops</span> Collection</span>
    </div>
    <div class="product-container">
        <div class="product-gallery-container">
            <div class="product-gallery-large-container">
                <button class="previous-image-button" onclick="plusSlides(-1)">&#10094;</button>
                    <div class="product-image hide">
                        <img src="/images/kaia/maya_top_1.jpg">
                    </div>
                    <div class="product-image hide">
                        <img src="/images/kaia/maya_top_2.jpg">
                    </div>
                    <div class="product-image hide">
                        <img src="/images/kaia/maya_top_4.jpg">
                    </div>
                    <div class="product-image hide">
                        <img src="/images/test/test4.png">
                    </div>
                    <div class="product-image hide">
                        <img src="/images/test/test5.png">
                    </div>
                    <div class="product-image hide">
                        <img src="/images/test/test6.png">
                    </div>
                <button class="next-image-button" onclick="plusSlides(1)">&#10095;</button>
            </div>
            <div class="product-gallery-small-container">
                <img class="product-gallery-small-image" src="/images/kaia/maya_top_1.jpg">
                <img class="product-gallery-small-image" src="/images/kaia/maya_top_2.jpg">
                <img class="product-gallery-small-image" src="/images/kaia/maya_top_4.jpg">
                <img class="product-gallery-small-image" src="/images/test/test4.png">
                <img class="product-gallery-small-image" src="/images/test/test5.png">
                <img class="product-gallery-small-image" src="/images/test/test6.png">
            </div>
        </div>

        <div class="product-information-container">
            <div>
                <span class="product-name">Maya Top</span>
                <img>
            </div>
            <span class="product-price">PHP 350</span>
            <div class="product-description-container">
                <span class="product-spec">Description</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</span>
            </div>
            <div class="product-variation-container">
                <div class="product-color">
                    <span class="product-spec">Color: <span class="selected-color"></span></span>
                    <div class="product-color-container">
                        <button class="color-button white" onclick="selectColor(this)" value="white"></button>
                        <button class="color-button sage-green" onclick="selectColor(this)" value="sage green"></button>
                        <button class="color-button lavender" onclick="selectColor(this)" value="lavender"></button>
                        <button class="color-button gray" onclick="selectColor(this)" value="gray"></button>
                        <button class="color-button black" onclick="selectColor(this)" value="black"></button>
                    </div>
                </div>
                <div class="product-quantity">
                    <span class="product-spec">Quantity</span>
                    <div class="product-quantity-container">
                        <button class="quantity-button" onclick="plusSlides(-1)">&#10094;</button>
                        <span>1</span>
                        <button class="quantity-button" onclick="plusSlides(1)">&#10095;</button>
                    </div>
                </div>
            </div>
            <button class="add-to-cart-button"><span>Add to Cart</span></button>
        </div>
    </div>

    <div class="customer-reviews-header">
        <div>
            <span class="customer-reviews-header-text">
                Customer Reviews
                <span class="customer-reviews-header-rating-icons"></span>
                <span class="customer-reviews-header-rating">(2)</span>
            </span>
        </div>
        <div class="customer-reviews-filter">
            <span class="customer-reviews-rating-text">Rating</span>
            <div class="dropdown">
                <div class="select">
                    <span class="selected">ALL</span>
                    <div class="caret"></div>
                </div>
                <ul class="menu">
                    <% for (let i = 6; i > 0; i--) { %>
                        <% if (i === 6) { %>
                            <li class="active">ALL</li>
                        <% } else { %>
                            <% let star = '★ '.repeat(i); %>
                            <li><%= i %> <%= star %></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>      
    </div>

    <div class="customer-reviews-container">
        <!-- customer-review partial template -->
        <div class="customer-review" data-review-id="1">

            <div class="review-details">
                <a href="#" class="review-user link-unstyled">bandecoco</a>
                <span class="review-user-rating" data-userrating="0.5"></span>
                <span class="review-date">13, Oct 2023</span>
            </div>

            <div class="review-body">
                <span class="custom-truncate">
                    the shirt was a nice fit it was pretty good and the quality was amazing if ur departing on buying this please do it! you won’t regret it and it might surprise you because i thought i wasn’t gonna look to good in it or i bought it to big or to small but after i put it on i was like this is it! it fits so well and i’m gonna look so good in it back to school and it came pretty fast more than a week but not to long! i’m so glad i choice to buy it even my friends think it’s cute and i hope u look good in it too also i love the color!!!!! :) PLEASE LIKE THIS
                </span>
                <span class="review-likes">
                    <!-- toggleLike accepts the customer-review's id -->
                    <button onclick="toggleLike(this.parentElement)" class="review-like-button link-unstyled liked"></button>
                    <span id="reviewLike">13</span>
                </span>
            </div>
            
            <div class="review-gallery">
                <button class="review-previous-image-button link-unstyled" data-review-id="1">&#10094;</button>
                <div class="review-image-container">
                    <img class="user-review-image" src="/images/test/test1.png">
                    <img class="user-review-image" src="/images/test/test2.png">
                    <img class="user-review-image" src="/images/test/test3.png">
                    <img class="user-review-image" src="/images/test/test4.png">
                    <img class="user-review-image" src="/images/test/test5.png">
                    <img class="user-review-image" src="/images/test/test6.png">
                    <img class="user-review-image" src="/images/test/test7.png">
                </div>
                <button class="review-next-image-button link-unstyled" data-review-id="1">&#10095;</button>
            </div>
        </div>

        <div class="customer-review" data-review-id="2">

            <div class="review-details">
                <a href="#" class="review-user link-unstyled">choipngln</a>
                <span class="review-user-rating" data-userrating="1.5"></span>
                <span class="review-date">13, Oct 2023</span>
            </div>

            <div class="review-body">
                <span>
                    Cute shirt, probably going to wear first day of school. This shirt isn’t tight like some of the others. Very comfortable and warm. I’m also a 00 size and I got size two, these sizes are small, I didn’t expect it to fit but it does.
                </span>
                <span class="review-likes">
                    <button onclick="toggleLike(this.parentElement)" class="review-like-button link-unstyled"></button>
                    <span id="reviewLike">2</span>
                </span>
            </div>
            
            <div class="review-gallery">
                <button class="review-previous-image-button link-unstyled" data-review-id="2">&#10094;</button>
                <div class="review-image-container">
                    <img class="user-review-image" src="/images/test/test1.png">
                    <img class="user-review-image" src="/images/test/test2.png">
                    <img class="user-review-image" src="/images/test/test3.png">
                    <img class="user-review-image" src="/images/test/test4.png">
                </div>
                <button class="review-next-image-button link-unstyled" data-review-id="2">&#10095;</button>
            </div>
        </div>

        <div class="customer-review" data-review-id="3">

            <div class="review-details">
                <a href="#" class="review-user link-unstyled">joolzie</a>
                <span class="review-user-rating" data-userrating="5.0"></span>
                <span class="review-date">13, Oct 2023</span>
            </div>

            <div class="review-body">
                <span>
                    the shirt was a nice fit it was pretty good and the quality was amazing if ur departing on buying this please do it! you won’t regret it and it might surprise you because i thought i wasn’t gonna look to good in it or i bought it to big or to small but after i put it on i was like this is it! it fits so well and i’m gonna look so good in it back to school and it came pretty fast more than a week but not to long! i’m so glad i choice to buy it even my friends think it’s cute and i hope u look good in it too also i love the color!!!!! PLEASE LIKE THIS
                </span>
                <span class="review-likes">
                    <button onclick="toggleLike(this.parentElement)" class="review-like-button link-unstyled liked"></button>
                    <span id="reviewLike">3</span>
                </span>
            </div>
            
            <div class="review-gallery">
                <button class="review-previous-image-button link-unstyled" data-review-id="3">&#10094;</button>
                <div class="review-image-container">
                    <img class="user-review-image" src="/images/test/test1.png">
                    <img class="user-review-image" src="/images/test/test2.png">
                    <img class="user-review-image" src="/images/test/test3.png">
                    <img class="user-review-image" src="/images/test/test4.png">
                    <img class="user-review-image" src="/images/test/test5.png">
                    <img class="user-review-image" src="/images/test/test6.png">
                </div>
                <button class="review-next-image-button link-unstyled" data-review-id="3">&#10095;</button>
            </div>
        </div>

        <div class="customer-review" data-review-id="4">

            <div class="review-details">
                <a href="#" class="review-user link-unstyled">kenji</a>
                <span class="review-user-rating" data-userrating="4.5"></span>
                <span class="review-date">13, Oct 2023</span>
            </div>

            <div class="review-body">
                <span>
                    the top is so nice and in a very good quality! highly recommend!! 😜 The knitted style is very cute. perfect for Ph weather! 😜                </span>
                <span class="review-likes">
                    <button onclick="toggleLike(this.parentElement)" class="review-like-button link-unstyled"></button>
                    <span id="reviewLike">5</span>
                </span>
            </div>
            
            <div class="review-gallery">
                <button class="review-previous-image-button link-unstyled" data-review-id="4">&#10094;</button>
                <div class="review-image-container">
                    <img class="user-review-image" src="/images/test/test1.png">
                    <img class="user-review-image" src="/images/test/test2.png">
                    <img class="user-review-image" src="/images/test/test3.png">
                </div>
                <button class="review-next-image-button link-unstyled" data-review-id="4">&#10095;</button>
            </div>
        </div>
    </div>
</body>
</html>
