:root {
    --new-arrivals: url("/images/kaia/iris_linen_top_1.jpg");
    --dresses: url("/images/kaia/sky_linen_dress_1.jpg");
    --bottoms: url("/images/kaia/june_top_4.jpg");
    --tops: url("/images/kaia/lane_top_2.jpg");
    --coords: url("/images/kaia/cara_linen_coordinates_3.jpg");
}

#home {
    text-decoration: none;
    color: inherit;
}

body {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Roboto Condensed-Regular";
    padding: 0px;
    margin: 0px;
}

/***********************************************
                  CONTAINERS                    
***********************************************/
div.main-container {
    padding: 10px;
    min-height: 655px;
    max-width: 1150px;
    background-color: #ffffff;
    margin: 0 auto;
}

div.path-container {
    color: #9d9d9d;
    font-family: "Roboto Condensed-Regular";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    font-variant: all-small-caps;
    line-height: 150%;
    letter-spacing: 0.01219rem;
    padding: 1rem 0.5rem;
    align-items: center;
    text-align: start;
    justify-content: left;
}

div.category-header-container {
    font-family: "Roboto Condensed-Light";
    padding: 1rem 0.5rem;
    align-items: center;
    text-align: start;
    justify-content: left;
    display: flex;
    gap: 1.625rem;
}

div.product-grid {
    display: grid;
    grid-template-columns: repeat(
        5,
        1fr
    ); /* adjust items per column if necessary */
    gap: 1.25rem;
    max-width: 75rem;
    margin: 0 auto;
}

div.product-item {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem 0rem;
    text-align: center;
    max-width: 12.375rem;
}

div.product-item img {
    width: 12.375rem;
    height: 14.375rem;
    object-fit: cover;
    cursor: pointer;
}

div.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-family: "Roboto Condensed-Regular";
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.0275rem;
    padding: 0.5rem 0rem;
}

div.product-details-inner {
    display: flex;
    flex-direction: column;
}

/***********************************************
                  SPAN LABELS                    
***********************************************/
div.category-header-title {
    color: #000;
    font-size: 2.5rem;
    line-height: 150%;
    letter-spacing: 0.05rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    height: 3.5rem;
}

span.category-title {
    font-family: "Roboto Condensed-Bold";
    align-items: center;
    text-align: start;
    justify-content: left;
    text-transform: uppercase;
}

.out-of-stock {
    text-decoration: line-through;
}

.sold-text {
    padding: 0.5rem 0rem;
    color: #f06868;
    font-family: "Roboto Condensed-Bold";
    letter-spacing: -0.0275rem;
    line-height: 150%;
}

span.product-name {
    padding: 0.5rem 0rem;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.category-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: text-decoration 0.3s;
    text-underline-offset: 0.3rem;
}

.category-link:hover {
    text-decoration: underline;
    color: #000;
}

.category-link.selected {
    text-decoration: underline;
    color: #000;
}

/***********************************************
                  DROPDOWN                    
***********************************************/
.product-filter {
    color: #999;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.5rem;
}

.product-filter {
    color: #999;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    font-family: "Roboto Condensed-Regular";
}

.product-filter select,
.product-filter select option {
    color: #999;
    border: none;
    font-weight: normal;
}

.product-filter select:focus {
    outline: none;
}

.link-unstyled {
    &,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        font-style: inherit;
        color: inherit;
        background-color: transparent;
        font-size: inherit;
        text-decoration: none;
        font-variant: inherit;
        font-weight: inherit;
        line-height: inherit;
        font-family: inherit;
        border-radius: inherit;
        border: inherit;
        outline: inherit;
        box-shadow: inherit;
        padding: inherit;
        vertical-align: inherit;
        -webkit-border-radius: inherit;
        -moz-border-radius: inherit;
        -ms-border-radius: inherit;
        -o-border-radius: inherit;
    }
}

/***********************************************
                     IMAGES                
***********************************************/
.dresses {
    background-image: var(--dresses);
}

.bottoms {
    background-image: var(--bottoms);
}

.tops {
    background-image: var(--tops);
}

.coords {
    background-image: var(--coords);
}
