/*
    While there is no one-size-fits-all rule, a common approach is to order properties like this:
     - Positioning (e.g., position, top, left)
     - Box model (e.g., width, height, margin, padding, border)
     - Typography (e.g., font, line-height, text-align)
     - Visual (e.g., background, color, box-shadow, transform)
     - Miscellaneous (e.g., cursor, pointer-events)
*/
:root {
    --wishlist-button-icon: url("/images/icons/wishlist-button-icon.png");
    --wishlisted-button-icon: url("/images/icons/wishlisted-button-icon.png");
}

body {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Condensed-Regular';
    padding: 0px;
    margin: 0px;
    user-select: none;
}

/***********************************************
                  CONTAINERS                    
***********************************************/
div.main-container {
    padding: 10px;
    display: block;
    min-height: 1150px;
    max-width: 1150px;  
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
}

.left-section, .right-section {
    display: block;
    padding: 10px;
    margin: 5px;
}

/***********************************************
                  PATH SECTION                    
***********************************************/
div.path-container {
    color: #9D9D9D;
    font-family: 'Roboto Condensed-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    font-variant: all-small-caps;
    line-height: 150%;
    letter-spacing: 0.01219rem;
    padding: 1rem 0.5rem;
    align-items: center;
    text-align: start;
    justify-content: v;
}

.path-link {
    text-decoration: none;
    color: inherit;
}

/***********************************************
                Error Message                    
***********************************************/
div.error-box {
    display: none;
    background-color: #faccd9;
    border: 1px solid #80354a;
    color: #80354a;
    text-align: center;
    padding: 10px;
}

.error-box.error {
    background-color: #F9E1D9;
    border: 1px solid #B62C00;
    color: #B62C00;
}

.error-box.success {
    background-color: #EAFBE6;
    border: 1px solid #46A525;
    color: #46A525;
}

/***********************************************
                  IMAGE SECTION                    
***********************************************/
.left-section {
    width: 55%;
}

div.large-image-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*
div.large-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 95%;
    max-width: 95%;
    min-width: 500px;
    min-height: 500px;
    border: 1px solid #E9E9E9;
}
*/

/* div.large-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 95%;
    max-width: 95%;
    min-width: 500px;
    min-height: 500px;
    border: 1px solid #E9E9E9;
    overflow: hidden;
    object-fit: cover;
} */

div.large-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 30   .6875rem;
    height: 35.8125rem;
    border: 1px solid #E9E9E9;
    overflow: hidden;
    object-fit: cover;
}

img.large-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

button.arrow-button {
    color: #000000;
    font-size: 0.9375rem;
    border: 1px solid #e9e9e9;
    background: #f6f6f6;
    width: 30px;
    height: 50px;
    flex-shrink: 0;
    cursor: pointer;
}

button.arrow-button.image:first-of-type {
    margin-right: 10px;
}

button.arrow-button.image:not(:first-of-type) {
    margin-left: 10px;
}

div.small-image-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

div.small-image-section:first-of-type {
    margin-top: 30px;
}

div.small-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.1875rem;
    height: 4.875rem;
    margin: 1.5rem 0.5rem;
    border: 1px solid #E9E9E9;
}

div.small-image-container.selected-image {
    border: 3px solid #995594;
}

img.small-image {
    width: 4.1875rem;
    height: 4.875rem;
    flex-shrink: 0;
    object-fit: cover;
    padding: 0rem 0rem;
    cursor: pointer;
}

span#variation-name {
    text-transform: uppercase;
    color: #949292;
}

/***********************************************
                PRODUCT SECTION                    
***********************************************/
section#product {
    display: flex;
}

.right-section {
    text-align: left;
    width: 45%;
}

/***********************************************
                PRODUCT HEADER                    
***********************************************/
div.product-header {
    display: block;
}

div.product-header #wishlist-product-button {
    float: right;
    position: relative;
    top: 18px;
    border: none;
    background-color: transparent;
    object-fit: contain;
}

span.icon.wishlist-button {
    background-image: var(--wishlist-button-icon);
    width: 40px;
    transition: 0.25s; 

}

span.icon.wishlisted-button {
    background-image: var(--wishlisted-button-icon);
    width: 40px;
    transition: 0.25s; 
}
    
/***********************************************
          PRODUCT BODY - DESCRIPTIONS                    
***********************************************/
div.product-body {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: start;
}

div.product-body.price {
    margin-top: 15px;
}

/* div.product-body.description {} */

/***********************************************
          PRODUCT BODY - VARIATIONS                    
***********************************************/
/* div.product-body.variation {} */
div.variation-details-container {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

div.variation-color-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

button.color-button {
    text-align: center;
    font-size: 0.9375rem;
    line-height: 150%;
    border: 1px solid #e9e9e9;
    letter-spacing: -0.02063rem;
    width: 2.375rem;
    height: 2.375rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

button.color-button.selected-color {
    border: 3px solid #995594;
}


/***********************************************
           PRODUCT BODY - QUANTITY                    
***********************************************/
/* div.product-body.quantity {} */

div.quantity-container {
    display: flex;
}

div.number-container {
    display: flex;
    width: 2.125rem;
    height: 2.4375rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button.arrow-button.quantity {
    color: #000000;
    font-size: 0.9375rem;
    border: 1px solid #e9e9e9;
    background: #f6f6f6;
    width: 30px;
    height: 50px;
    flex-shrink: 0;
    cursor: pointer;
}

/***********************************************
           PRODUCT BODY - ADD TO CART                    
***********************************************/
div.product-body.add-to-cart {
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}

button.add-to-cart-button {
    width: 500px;
    padding: 20px;
    text-align: center;
    border: none;
    background-color: #EF91CF;
    color: white; 
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: bold;
    cursor: pointer;
}

button.add-to-cart-button:hover {
    background-color: #995599;
    transition: 0.3s;
}

button.add-to-cart-button:active {
    background-color: #995599;
    opacity: 50%;
    transition: 0.3s;
}

/***********************************************
                PRODUCT HEADER                    
***********************************************/
section#reviews {
    margin-top: 50px;
}