:root {
    --update-icon: url("/images/icons/update-icon.png");
    --delete-icon: url("/images/icons/delete-icon.png");
}

body {
    display: block;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
}

/***********************************************
                    FEEDBACK               
***********************************************/
.hide {
    display: none;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    max-width: 98%;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;
    padding: 10px;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    height:40px;
    text-align: center;
}

.feedback.error {
    background-color: #F9E1D9;
    border: 1px solid #B62C00;
    color: #B62C00;
}

.feedback.success {
    background-color: #EAFBE6;
    border: 1px solid #46A525;
    color: #46A525;
}

/***********************************************
                  CONTAINERS                    
***********************************************/
div.main-container {
    display: block;
    max-width: 1150px;  
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
}

div.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 50px;
    align-items: center;
    background-color: white;
    z-index: 100; 
}

form#register-product {
    display: flex;
    flex-direction: column;
}

.register-form {
    display: flex;
    justify-content: center;
}

.left-section, .right-section {
    display: block;
    width: 48%;
    padding: 10px;
    margin: 5px;
    align-items: center;
}

/***********************************************
                     INPUTS         
***********************************************/
div.input-container {
    display: flex;
    padding: 10px;
}

span.title {
    color: black;
    font-weight: bold;
    font-size: 2.5em;
}

span.label {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin-top: 4px;
    margin-right: 20px;
    flex: 1;
}

.input-box {
    height: 25px;
    flex: 3;
}

.input-box.image-button {
    height: 25px;
    flex: 3;
    text-align: right;
}

.input-box.category {
    height: 25px;
    min-height: 25px;
    width: 98.5% !important;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;  
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 5px;
}

.form-style-1 {
    height: 19px;
    min-height: 19px;
    width: 98.5% !important;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;  
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 5px;
}

.input-textarea {
    width: 94%;
    max-width: 94%;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

/***********************************************
                UPLOAD IMAGE         
***********************************************/
div.upload-button {
    background-color: transparent;
    border: solid 1px #C2C2C2; 
    color: #C2C2C2;
    font-size: 0.8em;
    padding: 2px 10px 2px 10px;
}   

.upload-label:hover {
    border-color: #4f4f4f;
    color: #7d7c7c;
    transition: 0.1s;
}

.image-container {
    display: block;
    align-items: center;
    width: 96%;
    max-width: 96%;
}

.item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    margin-bottom: 10px;
}

.item-icon-col {
    width: 20%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.item-icon {
    height: 50px;
    padding: 5px;
}

.item-name {
    width: 80%;
    padding-left: 5px;
}

/***********************************************
                 VARIATIONS              
***********************************************/
.variation-form {
    display: flex;
    width: 94%;
    max-width: 94%;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-style-2 {
    height: 19px;
    min-height: 19px;
    width: 98.5% !important;
    border: 1px solid #C2C2C2; 
    background-color: #ffffff;
    outline: none;  
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 5px;
}

.var-right-section {
    width: 50%;
}

.var-left-section {
    width: 50%;
}

.color-picker {
    width: 98.5%;
    height: 30px; 
    border: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

.add-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.add-button {
    height: 30px; 
    width: 30px;
    margin-top: 8px;
    margin-right: 14px;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid #C2C2C2;
    background-color:  #C2C2C2;
    color: #4d4d4d;
}

.add-button:hover{
    background-color:  #4d4d4d;
    border: 1px solid #4d4d4d;
    color: #C2C2C2;
    opacity: 0.9;
    transition: 0.15s;
}

.add-button:active {
    opacity: 0.85;
    transition: 0.15s;
}

.add-button:not(:hover) {
    transition: 0.15s;
}

.variation-container {
    display: flex;
    align-items: center;
    width: 94%;
    max-width: 94%;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.stock-value {
    height: 19px;
    min-height: 19px;
    width: 60%;
    border: 1px solid #C2C2C2; 
    background-color: #ffffff;
    outline: none;  
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 5px;
}

div.variation-label {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin-top: 4px;
    margin-right: 20px;
}

.color-value {
    width: 60%;
    height: 20px; 
    border: none;
    margin-top: 4px;
    padding: 0px;
    outline: none;
    border: 1px solid #C2C2C2;
    background-color: #dac5a7;
}

.remove-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;

}

.remove-button {
    height: 30px; 
    width: 30px;
    margin-top: 8px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid #C2C2C2;
    background-color:  #C2C2C2;
    color: #4d4d4d;
}

.remove-button:hover{
    background-color:  #4d4d4d;
    border: 1px solid #4d4d4d;
    color: #C2C2C2;
    opacity: 0.9;
    transition: 0.15s;
}

.remove-button:active {
    opacity: 0.85;
    transition: 0.15s;
}

.remove-button:not(:hover) {
    transition: 0.15s;
}

div.register-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.register-button {
    background-color: #EF91CF;
    color: white; 
    padding: 10px 20px;
    position: relative;
    right: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 50px;
    width: 250px;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
}

.register-button:hover {
    background: #9F5F9B;
    opacity: 0.9;
    transition: 0.15s;
}

.register-button:active {
    opacity: 0.85;
    transition: 0.15s;
}

.register-button:not(:hover) {
    transition: 0.15s;
}

/***********************************************
                  ICON IMAGES                
***********************************************/
span.icon.update {
    background-image: var(--update-icon);
}

span.icon.delete {
    background-image: var(--delete-icon);
}
