@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --update-icon: url("/images/icons/update-icon.png");
    --update-hover-icon: url("/images/icons/update-icon-hover.png");
    --delete-icon: url("/images/icons/delete-icon.png");
    --delete-hover-icon: url("/images/icons/delete-icon-hover.png");
}

body {
    display: block;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

/***********************************************
                  CONTAINERS                    
***********************************************/
div.main-container {
    display: block;
    max-width: 1150px;  
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
}

div.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 50px;
    align-items: center;
    background-color: white;
    z-index: 100; 
}

form#view-product {
    display: flex;
    flex-direction: column;
}


.view-form {
    display: flex;
        justify-content: center;
}

.left-section, .right-section {
    display: block;
    width: 48%;
    padding: 10px;
    margin: 5px;
    align-items: center;
}

/***********************************************
                     INPUTS         
***********************************************/
div.input-container {
    display: flex;
    padding: 10px;
}

span.title {
    color: black;
    font-weight: bold;
    font-size: 2.5em;
}

span.label {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin-top: 4px;
    margin-right: 20px;
    flex: 1;
}

.input-box {
    height: 25px;
    flex: 3;
}

.input-box.image-button {
    height: 25px;
    flex: 3;
    text-align: right;
}

.input-box.category {
    height: 25px;
    min-height: 25px;
    width: 98.5% !important;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;  
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 5px;
}

.form-style-1 {
    height: 19px;
    min-height: 19px;
    width: 98.5% !important;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;  
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 5px;
}

.input-textarea {
    width: 94%;
    max-width: 94%;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

/***********************************************
                UPLOAD IMAGE         
***********************************************/
.image-container {
    display: block;
    align-items: center;
    width: 96%;
    max-width: 96%;
}

.item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    margin-bottom: 10px;
}

.item-icon-col {
    width: 20%;
}

.item-icon {
    height: 50px;
    padding: 5px;
}

.item-name {
    width: 80%;
    padding-left: 5px;
}

/***********************************************
                 VARIATIONS              
***********************************************/
.variation-container {
    display: flex;
    align-items: center;
    width: 94%;
    max-width: 94%;
    border: 1px solid #E9E9E9;
    background-color: #F6F6F6;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.stock-value {
    height: 19px;
    min-height: 19px;
    width: 60%;
    border: 1px solid #C2C2C2; 
    background-color: #ffffff;
    outline: none;  
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 5px;
}

div.label {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin-top: 4px;
    margin-right: 20px;
}

.color-value {
    width: 60%;
    height: 20px; 
    border: none;
    margin-top: 4px;
    padding: 0px;
    outline: none;
    border: 1px solid #C2C2C2;
    background-color: #dac5a7;
}

/***********************************************
                  ICON IMAGES                
***********************************************/
span.icon.update {
    background-image: var(--update-icon);
}

span.icon.update:hover {
    background-image: var(--update-hover-icon);
}

span.icon.delete {
    background-image: var(--delete-icon);
}

span.icon.delete:hover {
    background-image: var(--delete-hover-icon);
}
