:root {
    --search-icon: url("/images/icons/search-icon.png");
    --favourite-icon: url("/images/icons/favourite-icon.png");
    --cart-icon: url("/images/icons/cart-icon.png");
    --profile-icon: url("/images/icons/profile-icon.png");
}

/***********************************************
                     FONTS                    
***********************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'Migra-ExtraBold';
    src: url('/fonts/Migra-Extrabold.otf') format('opentype');
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('/fonts/GlacialIndifference.otf') format('opentype');
}

@font-face {
    font-family: 'GlacialIndifference-Bold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
}

/***********************************************
                     HEADER                    
***********************************************/
div.header {
    width: 99%;
    display: block;
    position: sticky;
    background-color: white;
    border-bottom: 1px solid #cacaca;
    z-index: 1;
    user-select: none;
    top: 0;
}

div.header-box {
    margin: 0px;
    padding: 0px;
}

/***********************************************
                     LOGO                    
***********************************************/
div.logo {
    text-align: center;
    position: relative;
}

.kaia {
    color:#EF91CF;
    font-family: 'Migra-ExtraBold', sans-serif;
    font-size: 3em;
    margin: 0px;
    padding: 0px;
}

.apparel {
    color:#995594;
    font-family: "GlacialIndifference-Bold", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: -12px;
    padding: 0px;
    letter-spacing: 5.5px;
}

.last-letter {
    letter-spacing: 0px;
}

/***********************************************
                    BUTTONS                    
***********************************************/
div.header-buttons {
    text-align: right;
    position: relative;
    bottom: 42.5px;
}

button.header {
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

button.header:hover {
    background: rgba(82, 82, 82, 0.3);
    opacity: 0.6;
    transition: 0.3s;
}

button.header:active {
    opacity: 0.3;
    transition: 0.3s;
}

button.header:not(:hover) {
    transition: 0.3s;
}

span.icon {
    height: 35px;
    width: 35px;
    display: block;
    background-size: cover;
}

/***********************************************
                    POP-UPS               
***********************************************/
.popup {
    display: flex;
    position: absolute;
    top: 65px;
    right: 170px;
    padding: 5px;
    visibility: hidden;
    z-index: 999;
    background-color: white;
    border: 1px solid #E0E0E0; 
}
  
    /***********************************************
                     SEARCH POP-UP               
    ***********************************************/
    .popup.search-popup {
        background-color: #f0f0f0;
        right: 158px;
        display: block;
        width: auto;
        font-size: 0.75em;
    }

    /***********************************************
                    FAVOURITE POP-UP               
    ***********************************************/
    .popup.favourite-popup {
        background-color: #ffcccc;
        right: 105px;
        display: block;
        width: auto;
        font-size: 0.75em;
    }

    /***********************************************
                     CART POP-UP               
    ***********************************************/
    .popup.cart-popup {
        background-color: #ccffcc;
        right: 53px;
        display: block;
        width: auto;
        font-size: 0.75em;
    }

    /***********************************************
                    PROFILE POP-UP             
    ***********************************************/
    .popup.profile-popup {
        display: block;
        width: auto;
        right: 0px;
        font-size: 0.75em;
    }

    .popup.profile-popup button {
        display: block;
        width: 100%;
        border: none;
        padding: 5px;
        background-color: transparent;
        text-align: left;
        text-indent: 5px;
        font-family: inherit;
        font-size: 1em;
    }

    .popup.profile-popup button:hover {
        background-color: #EF91CF;
    }

    .popup.profile-popup button:active {
        opacity: 0.8;
        transition: 0.3s;
    }
    
    .popup.profile-popup button:not(:hover) {
        transition: 0.15s;
    }

/***********************************************
                  ICON IMAGES                
***********************************************/
span.icon.search {
    background-image: var(--search-icon);
}

span.icon.favourite {
    background-image: var(--favourite-icon);
}

span.icon.cart {
    background-image: var(--cart-icon);
}

span.icon.profile {
    background-image: var(--profile-icon);
}