<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Login Page </title>
    <link rel = "stylesheet" href = "/css/users/login.css">
    <link rel = "stylesheet" href = "/css/main/font.css">
    <script src = "js/users/login.js" defer> </script>
</head>
<body>  
    <%- include("../main/header.ejs") %>
    <div class = "main-container" id = "main-container">
        <div class = "switch-container">
            <div class = "switch-container-button login focus">Log in</div>
            <div class = "switch-container-button register">Create account</div>
        </div>

        <div class = "error-box" id = "error-box"> 
        </div>
        <div class = "content-container">
            <form id = "register-form-container">
                <div class = "input-container-register">
                    <div class = "input-box name">
                            <input type = "text" id = "register-first-name" placeholder = "First Name" required>
                            <input type = "text" id = "register-last-name" placeholder = "Last Name" required>
                    </div>
                    <div class = "input-box email">
                        <input type="email" id = "register-email" placeholder="Email" required>
                    </div>
                    <div class = "input-box password">
                        <input type = "password" id = "register-password" placeholder = "Password" required>
                        <span class = "password-toggle" onclick = "togglePasswordVisibility('register-password')">Show</span>
                    </div>
                </div>
                <button type="submit" id = "register-button"> Create account</button>
            </form>
            <form id = "login-form-container">
                <div class = "input-container">
                    <div class = "input-box">
                        <input type = "email" id = "login-email" name = "login-email" placeholder = "Email" required >
                    </div>
                    <div class = "input-box">
                        <input type = "password" id = "login-password" name = "login-password" placeholder = "Password" required>
                        <span class = "password-toggle" onclick = "togglePasswordVisibility('login-password')">Show</span>
                    </div>
                </div>
                <div class = "options-container">
                    <div class = "option-items">
                        <input type = "checkbox" id = "remember-me" name = "remember-me">
                        <label for = "remember-me"> Remember Me </label>
                    </div>
                    <a href = ""><span class = "option-items">Forgot Password?</span></a>
                </div>
                <div class = "terms-container">
                    By logging into my account, I agree to Kaia Apparel’s <a href="/">Term’s and condition</a> and <a href="/">Privacy policy</a>.
                </div>
                <button type = "submit" id = "login-button">Login</button>
            </form>
        </div>
    </div>
    <%- include("../main/footer.ejs") %>
</body>
</html>