<html>
<head>
    <title> Upload Page </title>
</head>
<body>
    <h1> Upload Image </h1>
    <form method = "POST" action = "/upload" enctype = "multipart/form-data"> 
        <div>
            <h1> Upload Product </h1>
            <input type = "file" name = "product">
        </div>
        <input type = "submit">
    </form>
</body>
</html>
