<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/font.css">
    <link rel = "stylesheet" href = "/css/users/viewProfile.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
</body>
<div class = "main-container"> 

    <div class = "path-container">
        <span> <a href = "homepage" id = "home"> Home</a> / 
            <span class = "path-category" id = "path-category"> </span> 
            <a> VIEW PROFILE </a>
        </span>
    </div>
    <div class = "switch-container">
        <div class = "switch-container-button profile focus"> Profile </div>
        <div class = "switch-container-button my-purchases"> My Purchases </div>
    </div>
    <div class = "information-container">
        <div class ="information-block">
            <div class ="information-header" id ="personal-information"> Personal Information </div>
            <div class = "label" id ="first-name"> First Name 
                <span> Juan </span>
                <span> Edit </span>
            </div>
            <div class = "label" id ="last-name"> Last Name 
                <span> Dela Cruz </span>
                <span> Edit </span>
            </div>
            <div class = "label" id ="phone-number"> Phone Number 
                <span> Not Set </span>
                <span> Add Phone Number</span>
            </div>
        </div>
        <div class ="information-block">
            <div class ="information-header" id ="account-information"> Account Information </div>
            <div class = "label" id ="username"> Username
                <span> juandelacruz123 </span>
                <span> Edit </span>
            </div>
            <div class = "label" id ="email"> Email
                <span> juandelacruz@email.com </span>
                <span> Edit </span>
            </div>
            <div class = "label" id ="password"> Phone Number 
                <span> **************** </span>
                <span> Edit </span>
            </div>
        </div>
        <div class ="information-block">
            <div class ="information-header" id ="shipping-information"> Shipping Information </div>
            <div class = "label" id ="house-number"> House Number
                <span> Lot 10 </span>
                <span> Edit </span>
            </div>
            <div class = "label" id ="street-name"> Street Name
                <span> 11th Street </span>
                <span> Edit </span>
            </div>
            <div class = "label" id ="barangay"> Barangay
                <span> Barangay San Dionisio </span>
                <span> Edit </span>
            </div>
            <div class = "label" id ="city"> City
                <span> Davao City </span>
                <span> Edit </span>
            </div>
        </div>

    </div>
</html>

