<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Kaia Apparel </title>
    <link rel = "stylesheet" href = "/css/main/font.css">
    <link rel = "stylesheet" href = "/css/users/wishlist.css">
</head>
<body>
    <%- include("../main/header.ejs") %>
    <div class = "main-container"> 
        <div class = "path-container">
            <span> <a href = "homepage" id = "home"> Home</a> / 
                <span class = "path-category" id = "path-category"> </span> 
                <a> WISHLIST </a>
            </span>
        </div>
        <div class = "category-header-title">
            <span class = "category-title" id = "category-title"> WISHLIST </span>
            <span> 3 items </span>
        </div>
        <div id = "product-containers">
        </div>
    </div>
</body>
<script>
    const wishlist = `<%- JSON.stringify(wishlist) %>`;
    console.log(wishlist);
</script>
</html>