<link rel = "stylesheet" type = "text/css" href = "/css/partials/header.css">

<div class = "header">
    <div class = "header-box"> 

        <div class = "logo"> 
            <h1 class = "kaia">Kaia</h1>
            <h6 class = "apparel">APPARE<span class = last-letter>L</span></h6>
        </div>        

        <div class = "buttons"> 
            <a> [Favourite]   [Cart]  [Profile] </a>
        </div>
    </div>
</div>