:root {
    --search-icon: url("/images/icons/search-icon.png");
    --favourite-icon: url("/images/icons/favourite-icon.png");
    --cart-icon: url("/images/icons/cart-icon.png");
    --profile-icon: url("/images/icons/profile-icon.png");
    --search-hover-icon: url("/images/icons/search-icon-hover.png");
    --favourite-hover-icon: url("/images/icons/favourite-icon-hover.png");
    --cart-hover-icon: url("/images/icons/cart-icon-hover.png");
    --profile-hover-icon: url("/images/icons/profile-icon-hover.png");
}

.link-unstyled {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/***********************************************
                     HEADER                    
***********************************************/
div.header {
    width: 100%;
    height: 100px;
    display: block;
    position: sticky;
    background-color: white;
    border-bottom: 1px solid #cacaca;
    user-select: none;
    top: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1;
}

div.header-box {
    position: relative;
    top: 15%;
}

span.admin-label {
    color: black;
    font-weight: bold;
    font-size: 1em;
    position: relative;
    bottom: 10px;
}

/***********************************************
                     LOGO                    
***********************************************/
div.logo {
    text-align: center;
    justify-content: center;
    position: relative;
    float: center;
    width: 150px;
    margin: 0 auto;
}

.kaia {
    color: #ef91cf;
    font-family: "Migra-ExtraBold", sans-serif;
    font-size: 3em;
    margin: 0px;
    padding: 0px;
}

.apparel {
    color: #995594;
    font-family: "GlacialIndifference-Bold", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: -12px;
    padding: 0px;
    letter-spacing: 5.5px;
}

.last-letter {
    letter-spacing: 0px;
}

/***********************************************
                    BUTTONS                    
***********************************************/
div.header-buttons {
    text-align: right;
    position: relative;
    float: right;
    bottom: 42.5px;
    width: 205px;
    padding: 0.5rem 2rem;
}

button.header {
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

span.icon {
    height: 35px;
    width: 35px;
    display: block;
    background-size: cover;
    cursor: pointer;
}

/***********************************************
                    POP-UPS               
***********************************************/
.popup {
    display: flex;
    position: absolute;
    top: 65%;
    padding: 5px;
    visibility: hidden;
    z-index: 999;
    background-color: white;
    border: 1px solid #e0e0e0;
}

/***********************************************
                     SEARCH POP-UP               
    ***********************************************/
.popup.search-popup {
    right: 11rem;
    margin-top: 1rem;
    display: block;
    width: auto;
    font-size: 1em;
}

/***********************************************
                    FAVOURITE POP-UP               
    ***********************************************/
.popup.favourite-popup {
    right: 7.8rem;
    margin-top: 1rem;
    display: block;
    width: auto;
    font-size: 1em;
}

/***********************************************
                     CART POP-UP               
    ***********************************************/
.popup.cart-popup {
    right: 5.5rem;
    margin-top: 1rem;
    display: block;
    width: auto;
    font-size: 0.95em;
}

/***********************************************
                    PROFILE POP-UP             
    ***********************************************/
.popup.profile-popup {
    right: 1rem;
    margin-top: 0.5rem;
    display: block;
    width: auto;
    font-size: 0.95em;
}

.popup.profile-popup button {
    display: block;
    width: 100%;
    border: none;
    padding: 5px;
    padding-right: 10px;
    background-color: transparent;
    text-align: left;
    text-indent: 5px;
    font-family: inherit;
    font-size: 0.95em;
    cursor: pointer;
}

.popup.profile-popup button:hover {
    background-color: #ef91cf;
    color: white;
    font-style: bold;
}

.popup.profile-popup button:active {
    opacity: 0.8;
    transition: 0.3s;
}

.popup.profile-popup button:not(:hover) {
    transition: 0.05s;
}

/***********************************************
                  ICON IMAGES                
***********************************************/
span.icon.search {
    background-image: var(--search-icon);
}

span.icon.favourite {
    background-image: var(--favourite-icon);
}

span.icon.cart {
    background-image: var(--cart-icon);
}

span.icon.profile {
    background-image: var(--profile-icon);
}

span.icon.search:hover {
    background-image: var(--search-hover-icon);
}

span.icon.favourite:hover {
    background-image: var(--favourite-hover-icon);
}

span.icon.cart:hover {
    background-image: var(--cart-hover-icon);
}

span.icon.profile:hover {
    background-image: var(--profile-hover-icon);
}
