span.header-title {
    color: black;
    font-weight: bold;
    font-size: 2.5em;
}

span.header-title-large {
    font-family: "Roboto Condensed-Bold";
    color: #000;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.066rem;
    text-transform: uppercase;
}

span.header-title-medium {
    color: #000;
    font-family: inherit;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3.375rem */
}

span.text-title {
    font-family: "Roboto Condensed-Regular";
    font-size: 1.25rem;
    font-style: normal;
    padding: 0.5rem 0rem;
}

span.text-default {
    color: #000;
    font-family: inherit;
    font-size: 1rem;
    line-height: 137.5%; /* 1.11719rem */
    letter-spacing: -0.01788rem;
    text-transform: none;
    font-family: "Roboto Condensed-Light";
}

div.path-container {
    color: #9d9d9d;
    font-family: "Roboto Condensed-Regular";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    font-variant: all-small-caps;
    line-height: 150%;
    letter-spacing: 0.01219rem;
    padding: 1rem 0.5rem;
    align-items: center;
    text-align: start;
    justify-content: v;
}

.path-link {
    text-decoration: none;
    color: inherit;
}
