body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fcfcfc;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-title {
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 15px;
}

.content-container {
    display: block;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin: 0px;
    width: 60%;
    padding-top: 50px;
}

.product-container {
    display: block;
    align-items: center;
    margin: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.item-heading {
    font-size: 0.70em;
    font-weight: bolder;
    color: #8a8a8a;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EF91CF;
    width: 100%;
    margin-bottom: 10px;
}

.product-item:hover {
    background-color: #f0e8ed;
}

.item-icon-col {
    width: 10%;
    padding: 5px;
}

.item-icon {
    height: 70px;
    padding: 10px;
}

.item-name {
    font-size: 1.5em;
    font-weight: bolder;
    width: 90%;
    padding-left: 5px;
    padding-bottom: 10px;
}