body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fcfcfc;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishlist-title {
    font-size: 2.5em;
    font-weight: bolder;
}

.content-container {
    display: block;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin: 0px;
    width: 60%;
    padding-top: 50px;
}

.list-container {
    display: block;
    align-items: center;
    margin: 0;
    width: 100%;
    border: 1px solid #EF91CF;
    padding-left: 10px;
    padding-right: 10px;
}

.list-count {
    text-align: right;
    padding-bottom: 5px;
    color: #a3a2a2;
}

.item-heading {
    font-size: 0.70em;
    font-weight: bolder;
    padding-bottom: 10px;
    color: #8a8a8a;
}
.list-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.item-icon-col {
    width: 15%;
    padding: 10px;
}

.item-icon {
    height: 125px;
    padding: 10px;
}

.item-info-col {
    display: block;
    text-align: left;
    justify-content: center;
    width: 15%;
    padding: 10px;
}

.item-name {
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom: 10px;
}

.item-var-details {
    display: flex;
    align-items: center;
}

.item-size {
    text-align: center;
    background-color: white;
    border: 1px solid #bebebe;
    width: 20px;
}

.item-color {
    border: 1px solid #bebebe;
    width: 20px;
    margin-right: 5px;
}

#item-1-color {
    background-color: rgb(229, 174, 243);
}


#item-2-color {
    background-color: rgb(255, 255, 255);
}

#item-3-color {
    background-color: rgb(231, 216, 176);
}

.item-quantity-col {
    display: block;
    justify-content: center;
    font-size: 1.5em;
    width: 15%;
    padding: 10px;
}

.qty-decrement-btn {
    width: 21px;
    height: 21px;
    margin-right: 10px;
    padding: 0px;
    background-image: url('images/icons/decrement-icon.png');
    background-size: cover;
    border: 1px solid #bebebe;
    background-color: white;
}

.qty-increment-btn {
    width: 21px;
    height: 21px;
    margin-left: 10px;
    padding: 0px;
    background-image: url('images/icons/increment-icon.png');
    background-size: cover;
    border: 1px solid #bebebe;
    background-color: white;
}

.qty-increment-btn:hover {
    background-color: #f0f0f0;
}

.qty-decrement-btn:hover {
    background-color: #f0f0f0;
}

.divider {
   border-bottom: 1px solid #EF91CF;
}

.item-price-col {
    font-size: 1.5em;
    width: 25%;
    padding: 10px;
}

.item-add-to-cart-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart-btn {
    font-size: 1.25em;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#EF91CF;
    border: 0px;
    color: white;
    padding: 5px;
    width: 210px;
    height: 50px;
    margin-left: auto;
}

.add-to-cart-btn:hover {
    background-color: #995599;
    }

.item-remove-col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 10px;
}

.remove-item-btn {
    background-image: url('images/icons/remove-icon.png');
    background-size: cover;
    width: 15px;
    height: 15px;
}